@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@media only screen and (max-width: 600px) {
    header{
        float: none;
        display: block;
        text-align: left;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

#home-BGC{
    background-color: #2f4256;
}

header{
    overflow: hidden;
    text-align: justify;
    font-size: 24px;
    position: relative;
    padding: 15px 1%;
}

header section{
    float: left;
    display: inline;
    padding-left: 0.5%;
}

.navicon{
    width: 40px;
    height: 40px;
    float: left;
    padding-top: 5px;
}

.header-title{
    color: white;
    font-family: 'Spinnaker', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    margin-left: 3.5em;
    letter-spacing: .2em;
}

.top-nav{
    float: right;
    display: inline;
    text-align: center;
}

.top-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav li{display: inline-block;}

.top-nav a{
    display: inline-block;
    border-radius: 10px;
    color: #f6f6f6;
    padding: 16px 30px;
    font-size: 0.75em;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

.top-nav a:hover{
    background-color: #003f66;
}

.top-nav a.active{
    background-color: #003f66;
}


.introIMG{
    margin: 0;
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    filter: blur(1.5px);
}

#homeBG{
    background-image: url(./assets/homeBG.jpg);
}

@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}

.captitle{
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fade 4s ease forwards;
}

.captitle span.border{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    border: 4px solid #f1f1f1;
    font-family: 'Kanit', sans-serif;
    font-size: 2.5em;
    padding: 20px;
    white-space: nowrap;
}

#main-sect{
    min-height: 40vh;
}

#about{
    background-color: #008080;
    color: #f6f6f6;
    min-height: 80vh;
}

#about h1{
    text-align: center;
    font-family: 'Karla', sans-serif;
    padding: 20;
}

#contact{
    /* fix gap between about and contact */
    background-color: #BCADF0;
    min-height: 80vh;
}

.main-info{
    text-align: center;
    color: #f6f6f6;
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000;
    width: fit-content;
}

#home-nav{
    margin: 3.5vh auto;
    width: 30%;
    min-height: 25vh;
    border: 10px ridge #000;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
    background-color: #75BAFF;
    text-align: center;
    display: grid;
}

#home-nav ul{
    width: fit-content;
    list-style: none;
    margin: auto;
    padding: 0;
}

#home-nav li{display: grid;margin: 10px auto;}

#home-nav a{
    border-style: inset;
    border-width: 5px;
    border-radius: 10px;
    color: #000;
    padding: 20px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

#home-nav a:hover{
    background-color: #99ccff;
}

#about-info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 5%;
    margin: 0 2%;
    grid-column: 1 / span 1;
}

article strong{
    font-size: 3em;
}

aside{
    font-style: italic;
    text-align: center;
    background-color: lightgray;
    position: relative;
    margin-right: 1vw;
    width: fit-content;
    height: fit-content;
    grid-column: 2 / span 1;
}

aside h1{font-size: xx-large;}

#author{
    width: 20em;
    margin: 1em 1em auto 1em;
    border-radius: 30px;
    image-rendering: optimizeQuality;
}

footer{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #f8f8f8;
    background-color: #0A397F;
    padding: 1.5%;
    margin-top: 2vh;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 16px 2.5px #0A397F;
    box-sizing: border-box;
}