@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

#home-BGC{
    background-color: #2f4256;
}

header{
    overflow: hidden;
    text-align: justify;
    font-size: 24px;
    position: relative;
    padding: 15px 1%;
}

header section{
    float: left;
    display: inline;
    padding-left: 0.5%;
}

.navicon{
    width: 40px;
    height: 40px;
    float: left;
    padding-top: 5px;
}

.header-title{
    color: #FFF;
    font-family: 'Spinnaker', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    margin-left: 3.5em;
    letter-spacing: .2em;
}

.top-nav{
    float: right;
    text-align: center;
}

.top-nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto;
}

.top-nav-alt{
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

.top-nav a{
    border-radius: 10px;
    color: #FFF;
    padding: 16px 30px;
    font-size: 0.75em;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

.top-nav a:hover{
    background-color: #003f66;
}

.top-nav a.active{
    background-color: #003f66;
}

.IMG-style{
    margin: 0;
    position: relative;
    background-position: center;
    background-size: cover;
}

#homeBG{
    background-image: url(./assets/homeBG.jpg);
    filter: blur(1.5px);
    min-height: 100vh;
}

@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}

.captitle{
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fade 4s ease forwards;
}

.captitle span.border{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: #FFF;
    border: 4px solid #f1f1f1;
    font-family: 'Kanit', sans-serif;
    font-size: 2.5em;
    padding: 20px;
    white-space: nowrap;
}

#main-sect{
    min-height: 45vh;
}

.title-format{
    margin: auto;
    padding: 20px 5px 5px 5px;
    font-family: 'Karla',sans-serif;
    font-size: 2em;
    text-shadow: 2px 2px 5px #000;
    width: fit-content;
}

#main-info{
    color: #FFF;
    border-radius: 5px;
}

#home-nav{
    margin: 20px auto;
    width: 30%;
    min-height: 25vh;
    border: 10px ridge #000;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
    background-color: #75BAFF;
    text-align: center;
}

#home-nav ul{
    width: 40%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 20px auto;
}

#home-nav a{
    display: block;
    border-style: inset;
    border-width: 5px;
    border-radius: 10px;
    color: #000;
    padding: 20px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

#home-nav a:hover{
    background-color: #99ccff;
}

.aboutBG{
    background-image: url(./assets/aboutBG.jpg);
    min-height: 60vh;
    /* parallax effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#about{
    background-color: #004e57;
    color: #FFF;
    min-height: 36vh;
}

#about-desc{
    background-color: #004047;
    font-family: 'Merriweather', Times, serif;
    font-size: 1.3em;
    margin: 15px;
    padding: 0 15px;
    border: 5px double #000;
}

#about-desc strong{
    font-weight: normal;
}

#contact{
    background-color: #a9e3ef;
    color: #000;
    min-height: 35vh;
}

#contact-title{
    text-shadow: 2px 2px 20px #187081 !important;
}

#contact-info{
    height: 20px;
    text-align: center;
    display: grid;
    gap: 2px;
    padding: 5px;
    grid-template: 75px 75px / 1fr 1fr 1fr;
}

#contact-info *{
    margin: 5px auto 0;
    padding: 15px 0;
    font-size: 1.4em;
    font-family: 'Kanit', sans-serif;
}

#contact-info p,
#contact-info a{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto !important;
    font-size: 1.1em !important;
    padding: 0px 0.5%;
}

.contact-links{
    font-family: 'Spinnaker', sans-serif !important;
    background-color: hsl(190, 69%, 76%);
    color: #000;
    border-radius: 10px;
    border: 5px solid #000;
    text-decoration: none;
}

footer{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #FFF;
    background-color: #0A397F;
    padding: 1.5%;
    width: 100%;
    box-shadow: 0px 0px 16px 4.5px #0A397F;
    box-sizing: border-box;
}